*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: #181818;
  overflow-x: hidden;
}

.navbar{
  background: #000000;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 10px 10px -2px rgba(195, 0, 255, 0.596);
  -webkit-animation: test 10s infinite; /* Chrome, Safari, Opera */
  animation: test 10s infinite;
}

@-webkit-keyframes test {
  50% {box-shadow: 0 10px 10px -2px #ff00009a;}
  80% {box-shadow: 0 10px 10px -2px #ff7b009c;}
}

/* Standard syntax */
@keyframes test {
  50% {box-shadow: 0 10px 10px -2px #ff00009a;}
  80% {box-shadow: 0 10px 10px -2px #ff7b009c;}
}

.navcontainer{
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navmenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

#navlogo{
  width: 130px;
  cursor: pointer;
}

.navbar .navmenu .navitem{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar .navmenu .navitem a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.navbar .navmenu .navitem::after{
  content: '';
  height: 3px;
  width: 0;
  background: #921eff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.35s;
}

.navbar .navmenu .navitem:hover::after{
  width: 100%;
}

.navbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 20px;
  height: 50%;
  width: 100%;
  border: 2px solid #921eff;
  outline: none;
  border-radius: 4px;
  background: transparent;
  color: #921eff;
  font-weight: bold;
  font-size: 15px;
}

.button:hover {
  border: 2px solid #921eff;
  background: #921eff;
  color: #fff;
  transition: all 0.3s ease;
}

.navbtn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background: #8a23ff;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.button2:hover {
  background: #500092c7;
  transition: all 0.3s ease;
}

.navitem.active{
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 960px) {
  .navcontainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navmenu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navmenu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 14px;
  }

  #navlogo {
    padding-left: 25px;
  }

  .navtoggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navitem {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbtn {
    padding-bottom: 0;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 0;
  }

  .navbtn2 {
    padding-bottom: 1rem;
  }

  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 0;
  }

  .navtoggle .bar {
    display: block;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Section CSS */
.main {
  background-color: transparent;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 80vh;
  background-color: transparent;
  z-index: 1;
}

.maincontent{
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
}

.maincontent h1 {
  font-size: 4rem;
  background-color: #921eff;
  background-image: linear-gradient(to right, #921eff 30%, #ff5e2c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
}

.maincontent p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  user-select: none;
}

.main_wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.main_wave svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 294px;
}

.main_wave .shape-fill {
  fill: #181818;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #141414;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 5px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #141414;
}

/* Main Button 1*/
.mainbtn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #921eff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.mainbtn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

.mainbtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #921eff;
  transition: all 0.5s;
  border-radius: 25px;
}

.mainbtn:hover {
  color: #fff;
}

.mainbtn:hover:after {
  width: 100%;
}

/* Main Button 2*/
.mainbtn2 {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ff5e2c;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.mainbtn2 a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

.mainbtn2:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff5e2c;
  transition: all 0.5s;
  border-radius: 25px;
}

.mainbtn2:hover {
  color: #fff;
}

.mainbtn2:hover:after {
  width: 100%;
}

.mainbanner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/Background.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Laptop Design */
.laptop{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80%;
}

.laptopdesign{
  width: 50rem;
  margin-bottom: 20px;
  padding: 40px;
}

@media screen and (max-width: 820px) {
  .laptopdesign {
    margin: 20px;
    padding: 20px;
    width: 80%;
  }
}

/* features Section CSS */
.features{
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  user-select: none;
}

.features h1 {
  margin-top: 20px;
  background-color: #ff711f;
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  z-index: 1;
}

.features_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Moderation Card*/
.features_card--moderation {
  margin: 1rem;
  height: 325px;
  width: 250px;
  border-radius: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 102, 0, 0.616) -40%,
      rgba(119, 0, 255, 0.548) 100%
    );
  background-size: cover;
  position: relative;
  color: #fff;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.623);
}

.features h2 {
  margin-left: -10px;
  position: absolute;
  top: 160px;
  left: 30px;
}

.features-p{
  margin-top: -40px;
  margin-bottom: 30px;
  color: #696969;
  font-size: 18px;
}

.features_card--moderation p {
  margin-left: -10px;
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 12px;
}

.moderationlogo{
  width: 100px;
}

/*Others Card*/
.features_card--others {
  margin: 1rem;
  height: 325px;
  width: 250px;
  border-radius: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 102, 0, 0.616) -40%,
      rgba(119, 0, 255, 0.548) 100%
    );
  background-size: cover;
  position: relative;
  color: #fff;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.623);  
}

.features_card--others p {
  margin-left: -10px;
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 12px;
}

.otherlogo{
  width: 100px;
}

/* Get Started CSS */
.getstarted{
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  margin-top: 10px;
  user-select: none;
}

.getstarted h1 {
  margin-top: 20px;
  background-color: #ff711f;
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  z-index: 1;
}

.getstarted-p{
  margin-top: -50px;
  margin-bottom: 50px;
  color: #696969;
  font-size: 18px;
}

/* GS Button */
.gsbtn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: -10px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  background: #b22cff;
  color: #fff;
  cursor: pointer;
  box-shadow: 16px 20px 17px 0 rgba(0,0,0,0.24);
  transition: 0.35s;
  position: relative;
  overflow: hidden;
}

.gsbtn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

.gsbtn:hover {
  background: #600097;
  box-shadow: none;
  color: #fff;
}

/* Footer CSS*/
.footer_container {
  background-color: #141414;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_links{
  margin: 0 16px;
}

.footer_links h1{
  color: #9a2fcc;
  font-size: 16px;
  margin-bottom: 8px;
}

.footer_links ul li{
  color: #fff;
  list-style: none;
  font-size: 15px;
  margin: 10px auto;
}

.footer_links ul li a{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.footer_main{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_wrapper {
  display: flex;
}

.footer_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_main h1 {
  margin-bottom: 16px;
}

.footer_main h1 {
  color: #fff;
}

.footer_main p2 {
  color: #9a2fcc;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer_links a:hover{
  color: #888888;
}

.webrights{
  color: #666666;
  font-size: 9px;
}

.socialicon{
  margin-bottom: 8px;
}
